@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


/* shared styles */

.display-flex {
    display: flex;
}

p {
    font-size: 18px;
    color: #727272;
    margin: 0px;
}

.dark01 {
    color: #131313;
}
.dark02 {
    color: #424242;
}
.dark03 {
    color: #727272;
}



/* header section style */


header {
    background-color: rgba(255, 144, 14, 0.1);
}

nav {
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: 0 auto;
}

nav li {
    list-style: none;
    margin-right: 40px;
}

nav a {
    text-decoration: none;
    color: #727272;
}

.brand-name {
    font-size: 2rem;
    font-weight: bold;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    max-width: 1100px;
    margin: 0 auto;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.btn-primary {
    background-color: #FF900E;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin: 20px 0px;
}

.hero img {
    margin-bottom: 20px;
}


/* main section style */
main {
    max-width: 1100px;
    margin: 0 auto;
}

main > section {
    margin-top: 100px;
}

/* quick list section */

.quick-list-container {
    display: flex;
    gap: 50px;
}

.quick-list-imgbox {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.quick-list-content {
    flex-direction: column;
    justify-content: center;
}